<h1>Sign Up Below</h1>
<style>
    h5 {
        color: red;
    }
</style>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form method="POST" action="register">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username" placeholder="Username" required>
    <p>Email:</p>
    <input type="email" name="email" placeholder="Email" required>
    <p>Password:</p>
    <input type="password" name="password" placeholder="Password" required>
    <p>Repeat Password:</p>
    <input type="password" name="password2" placeholder="Repeat Password" required><br>
    <input type="submit" />
</form>